<%- include('../partials/header')%>
<!-- Movie titles -->
<div class="grid__container">
    <% for(let i=0;i<results.length;i++){ %>
        <div class="card">
            <a href = <%= '/result/' + movieid[i] %>>
                <div class="card__img">
                    <img src=<%= movieurl[i] %> style="size:100%;" alt="Movie image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= results[i] %></h5>
                </div>
            </a>
        </div>
    <%}%>
</div>
<%- include('../partials/footer')%>