<%- include('../partials/header')%>
<div>
    <div class="grid__container1">
        <div class="pic">
            <img src=<%=movieurl%>>
        </div>
        <div class="specs">
            <h1><%=title%></h1>
            <%=tagline%><br>
            <b>Rating: </b><%=rating%><br>
            <b>Genre: </b><% for(let i=0;i<genre.length;i++){%>
            <%=genre[i]%>
            <%if(i!=genre.length-1){%>
                ,
            <%}%>
            <%}%><br>
        </div>
        <div class="info">
            <h1>Overview</h1>
            <%=overview%><br>            
        </div>
    </div>
</div>
<%- include('../partials/footer')%>